<% path = @product.id.blank? ? {action: "create"} : admin_product_path(@product.id) %>
<%= form_for @product, url: path, html: { class: "nifty_form",
                                  multipart: true } do |f| %>
  <div class = 'row field'>
    <div class = 'col-3'>
      <%= f.label :product_name %>
    </div>
    <div class = 'col-9'>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class = 'row field'>
    <div class = 'col-3'>
      <%= f.label :price %>
    </div>
    <div class = 'col-9'>
      <%= f.text_field :price %>
    </div>
  </div>
  <div class = 'row field'>
    <div class = 'col-3'>
      <%= f.label :discount_price %>
    </div>
    <div class = 'col-9'>
      <%= f.text_field :discount_price%>
    </div>
  </div>
  <div class = 'row field'>
    <div class = 'col-3'>
      <%= f.label :product_name %>
    </div>
    <div class = 'col-9'>
      <%= f.text_area :description, size: "60x12" %>
    </div>
  </div>
  <div class = 'row field'>
    <div class = 'col-3'>
      <%= f.label :images %>
    </div>
  </div>
  <div class = 'row field'>
    <%= f.fields_for :images, Image.new do |image_form|%>
      <% 5.times do |index|%>
        <div class = 'col-5'>
          <%= image_form.file_field :asset, multiple: true,
            name: "product[images][#{index}]" %>
        </div>
        <div class = 'col-9'>
          <% unless @product.images[index].blank? %>
            <%= image_tag(@product.images[index].asset.url, size: "500")%>
          <%end%>
        </div>
      <%end%>
    <%end%>
  </div>
  <%= f.submit %>
<% end %>
