<% path = @product.id.blank? ? {action: "create"} : admin_product_path(@product.id) %>
<%= form_for @product, url: path, html: { class: "nifty_form",
                                  multipart: true } do |f| %>
  <div class = 'row field'>
    <div class = 'col-3'>
      <%= f.label :product_name %>
    </div>
    <div class = 'col-9'>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class = 'row field'>
    <div class = 'col-3'>
      <%= f.label :price %>
    </div>
    <div class = 'col-9'>
      <%= f.text_field :price %>
    </div>
  </div>
  <div class = 'row field'>
    <div class = 'col-3'>
      <%= f.label :discount_price %>
    </div>
    <div class = 'col-9'>
      <%= f.text_field :discount_price%>
    </div>
  </div>
  <div class = 'row field'>
    <div class = 'col-3'>
      <%= f.label :product_name %>
    </div>
    <div class = 'col-9'>
      <%= f.text_area :description, size: "60x12" %>
    </div>
  </div>
  <div class = 'row field'>
    <div class = 'col-3'>
      <%= f.label :images %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
