<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class= 'container'>
      <div class = 'admin_nav_bar row'>
        <div class= 'col-sm-3 col-md-2 hidden-xs-down bg-faded'>
          <%= render 'shared_component/navigation_vertical'%>
        </div>
        <div class= 'admin_container col-sm-9 col-md-10'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
