<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class= 'container'>
      <div class = 'row'>
        <div>
          <%= render "shared_component/navigation"%>
        </div>
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
